.knobRange {
  @apply h-[44px] w-[44px] rounded-full border;
}

.knobRange::-webkit-slider-thumb,
::-moz-slider-thumb,
::-moz-range-thumb {
  appearance: none;
  width: 44px;
  height: 44px;
  background: red;
  border: 3px solid white;
}