@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply h-screen text-slate-50 font-sans mx-48;
    background: linear-gradient(to top right, #18181b 40%, #1e293b);
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
}

.active {
  @apply font-bold text-slate-50;
}